<!-- AndroidManifest.xml -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.ar" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:theme="@style/Theme.Material3.DayNight"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        tools:targetApi="31">

        <!-- MainActivity should be the launcher activity, which starts the app -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:exported="true"
            tools:ignore="DiscouragedApi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".VideoActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="DiscouragedApi">
        </activity>


        <!-- GameActivity declaration -->
        <activity android:name=".GameActivity" />

        <!-- Example of a meta-data element -->
        <meta-data
            android:name="android.app.lib_name"
            android:value="quantumquest" />

    </application>
</manifest>